@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
$nunito: 'Nunito', sans-serif;
$lato: 'Lato', sans-serif;
$main-bg: #f6f6f7;
$page-bg: #fffefe;
$btn-bg: #4887fe;
$btn-bg2: #f34133;
$font-1: #04aaf0;
$font-d: #c6c7c6;

*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
button {
  font-family: $lato;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  font-family: $nunito;
  background-color: $main-bg;
  .l-container {
    height: 100vh;
    display: grid;
    place-items: center;

    /* Login && Register */
    .auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 7rem 4rem;
      background-color: $page-bg;
      border-radius: 5px;
      box-shadow: 5px 5px 15px 3px rgba(128, 128, 128, 0.185);
      h1 {
        font-size: 4rem;
        margin-bottom: 5rem;
        &::after {
          content: '';
          display: inline-block;
          position: relative;
          background-color: $btn-bg;
          margin-left: 15px;
          width: 100px;
          height: 10px;
          top: -15px;
          box-sizing: inherit;
          border-radius: 5px;
        }
        &::before {
          content: '';
          display: inline-block;
          position: relative;
          background-color: $btn-bg;
          margin-right: 15px;
          width: 100px;
          height: 10px;
          top: -15px;
          box-sizing: inherit;
          border-radius: 5px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 300px;
        color: $font-d;
        input[type='text'],
        input[type='password'] {
          height: 2.5rem;
          border-radius: 5px;
          color: grey;
          padding: 10px;
          border: none;
          outline: 1px solid rgba(128, 128, 128, 0.308);
          &:focus {
            outline: 2px solid $btn-bg;
          }
          &::placeholder {
            color: #01153a41;
          }
        }
        .check {
          margin: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 3rem;
          div {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        button {
          width: 100px;
          height: 35px;
          border: none;
          background-color: $btn-bg;
          color: white;
          border-radius: 5px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            opacity: 95%;
          }
        }
      }
      .p-link {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        color: $font-d;
        .blue {
          color: $font-1;
          &:hover {
            opacity: 80%;
          }
        }
        .red {
          color: $btn-bg2;
          &:hover {
            opacity: 80%;
          }
        }
      }
    }
  }
  /* Navbar */
  .n-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #f6f6f7;
    box-shadow: 0px 1px 6px 1px #c6c7c6;
    .logo {
      font-size: 2rem;
      font-weight: 700;
      color: #c6c7c6;
      text-decoration: underline;
      border: 1px solid #04aaf0;
      padding: 6px;
      border-radius: 5px;
      span {
        color: #f34133;
      }
    }
    .links {
      display: flex;
      gap: 1.8rem;
      color: #04aaf0;
      align-items: center;
      .write {
        color: #f34133;
        background-color: #c6c7c6;
        padding: 3px 8px;
        align-items: center;
        border-radius: 5px;
        &:hover {
          background-color: #fffefe;
          outline: 1px solid #c6c7c6;
        }
      }
      .n-link {
        &:hover {
          text-decoration: underline;
          color: #c6c7c6;
        }
      }
    }
  }
  /* Navbar end */
  /* Footer start */
  .f-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    .logo {
      font-size: 0.7rem;
      font-weight: 700;
      color: #c6c7c6;
      text-decoration: underline;
      border: 1px solid #04aaf0;
      padding: 6px;
      border-radius: 5px;
      span {
        color: #f34133;
      }
    }
    h6 {
      font-weight: 300;
      font-size: 0.8rem;
    }
  }

  /* Footer end */
  /* Home start */
  .h-container {
    display: grid;
    place-items: center;
    margin: 3rem 0rem;
    .posts {
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      // gap: 3rem;
      width: 70%;
      text-align: center;
      border: 1px solid #c2c2c28a;
      box-shadow: 0px 0px 5px 0px #c2c2c28a;
      border-radius: 10px;
      padding: 2rem;
      h1 {
        font-size: 4rem;
        color: #f34133;
      }
      .post {
        text-align: left;
        padding: 3.5rem 1.5rem;
        border-bottom: 1px solid #c6c7c6;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #c6c7c625;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          color: #6d6e6d;
          h1 {
            font-size: 3rem;
            color: #353535;
          }
          button {
            background-color: #4887fe;
            border: none;
            padding: 4px;
            color: white;
            border-radius: 5px;
          }
        }
        img {
          width: 600px;
          height: 350px;
          border-radius: 3px;
          box-shadow: -20px 20px 1px #04a9f033;
        }
      }
    }
  }

  /* Home end */

  /* Single start */
  .s-container {
    display: flex;
    gap: 1.5rem;
    margin: 3rem 8rem;
    .s-left {
      background-color: white;
      padding: 2rem;
      border-radius: 10px;
      flex: 5;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .user {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 2rem 0;
        .info {
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .content {
        h1 {
          font-size: 3rem;
          margin: 4rem 0;
        }
        p {
          font-size: 1.5rem;
          line-height: 3rem;
          letter-spacing: 1px;
          text-indent: 150px;
          text-align: justify;
        }
      }
    }
    .s-right {
      flex: 2;
      background-color: white;
      padding: 2rem;
      border-radius: 10px;
      h1{
        margin: 2rem 0;
        color: #f34133;
      }
      .posts {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .post {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          h2{
            font-size: 1.8rem;
          }
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          button{
            background-color: #4887fe;
            border: none;
            padding: 4px;
            color: white;
            border-radius: 5px;
            width: 80px;
          }
        }
      }
    }
  }
  /* Single end */
}
